# mysql_virtual_mailbox_maps.cf
user = usermail
password = mailpassword
hosts = 127.0.0.1
dbname = servermail
query           = SELECT maildir FROM mailbox WHERE username='%s' AND active = '1'
#expansion_limit = 100

