<?php
$CONF['database_type'] = 'mysqli';
$CONF['database_user'] = 'usermail';
$CONF['database_host'] = '127.0.0.1';
$CONF['database_password'] = 'mailpassword';
$CONF['database_name'] = 'servermail';

$CONF['configured'] = true;
?>
